.donate-bkgd{
	background-image: url("../img/image_2.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	height:auto;
	min-height:750px;
	padding:150px 30px;
}
.catch-phrase{
	color:white;
	text-shadow:0px 0px 10px black;
	font-size:5.5em;
	font-weight:bold;
	text-align:center;
	letter-spacing:1.5px;
}
.overlay-content{
	color:white;
	z-index:5;
	padding:30px 30px 20px 30px;
	background: transparent url("../img/dev/black75-bg.png") repeat;
	border-radius:30px;
	text-align:center;
}
h3.headline{
	margin:0px;
	font-size:2em;
	font-weight:bold;
	letter-spacing:1.5px;
}
p.donate-p{
	text-align:left;
	margin-bottom:30px;
	word-spacing:1px;
	line-height:1.45em;
}
.donate-warning{
	color:red;
	font-weight:bold;
}
/*end main*/

/*media queries*/
/*end media queries*/