/*main*/
/*.row{
	margin-top:10px;
}
#main-wrapper{
	width:100%;
	margin:0 auto;
	padding:0;
}*/
.donate-bkgd{
	background-image: url("../img/facility/image_2.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	height:auto;
	min-height:750px;
	padding:150px 30px;
}
.catch-phrase{
	color:white;
	text-shadow:0px 0px 10px black;
	padding:30px;
	font-size:5.5em;
	font-weight:bold;
	text-align:center;
}
.overlay-content{
	color:white;
	z-index:5;
	padding:30px;
	background: transparent url("../img/black75-bg.png") repeat;
	border-radius:30px;
	text-align:center;
}
.donate-paragraph{
	text-align:left;
}
.donate-btn{
}
/*end main*/

/*media queries*/
/*end media queries*/